<html>
    <head>
      <style>
        h1{
            color: cornflowerblue;
            border: 1px solid red;
        }
        p{
            background-color: aqua;
        }
      </style>
    </head>
    <body>
        <h1>Welcome {{name}}</h1>
        
        <p>{{name}} </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, incidunt.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam beatae in delectus provident laborum consequatur eius incidunt, pariatur et nostrum ipsa laboriosam eligendi cupiditate eaque cumque deserunt illum ad facilis maxime nam. Reiciendis exercitationem cum quas at illum dolore iste corrupti animi quam! Rerum, qui quidem suscipit sint, consequuntur numquam omnis officia id ad nobis soluta? Voluptatibus non eos nostrum quis nulla provident enim iusto omnis, cum beatae in dolores laudantium autem dolorem voluptatem. Exercitationem, sapiente expedita sequi numquam dolor illum qui beatae quas. Iste enim, explicabo eius eaque earum excepturi, ducimus modi eum vitae quas quod? Aliquid consequatur, delectus praesentium repudiandae consectetur consequuntur deserunt necessitatibus reiciendis repellendus et a quod laudantium. Eaque sed perferendis eos quisquam. Laboriosam commodi recusandae quod at, beatae architecto quas ullam voluptate voluptates, nisi quis et inventore corrupti enim nihil laudantium accusamus, minus ipsam necessitatibus reiciendis omnis quam earum. At voluptate eius, voluptatibus id, nobis magni sed impedit itaque eligendi quis quae inventore deleniti adipisci. Voluptatibus quasi nobis quae sapiente, dolores cum, velit possimus asperiores quos consequuntur iusto suscipit temporibus excepturi in expedita officiis nostrum illo ad deserunt dolore qui vel vero incidunt natus. Deserunt molestiae rem quidem voluptatibus aspernatur accusantium cupiditate error nihil est?</p>
        
    </body>
</html>