<html>
    <head>
      <style>
        h1{
            color: red;
            background-color: black;
            border: black 4px dashed;
        }
      </style>
    </head>
    <body>
        <h1>My Name is {{projects.name}} and i am {{projects.age}}
             years old. My main technical skill is {{projects.skill}}</h1>
        <h2>Demo Page</h2>
    </body>
</html>